Source: c2-netrunner-core-settings
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/netrunner-odroid/c2-netrunner-core-settings

Package: c2-netrunner-core-settings
Architecture: armhf
Depends: netrunner-default-settings, ${misc:Depends}
Description: netrunner-core edition settings for ODROID-C1
 Netrunner Full specific settings for the ODROID-C1
